<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-sm-6">
      <h3><strong>¿Quienes somos?</strong></h3>
      <p>
        <strong>Fashion YBG</strong> es una empresa dedicada a la venta online de ropa. Nuestro objetivo es ofrecer la moda más actual a los mejores precios.
        Tenemos a su disposición una gran variedad de productos, los cuales son renovados cada temporada para dar siempre las prendas más trendy.

      </p>
      <p>
        Tenemos un equipo que está dedicado a satisfacer tus necesidades y que te contestará a tus dudas con la mayor brevedad posible.
        Para una mejor comunicación puedes contactar con nosotros a través de WhatsApp o mensaje privado de Facebook y tan sólo en unos minutos tu duda será resuelta.
      </p>
    </div>
    <div class="col-sm-6">
    </div>
  </div>
</div>
